<div style="height: 500px; margin-left: 200px;" class="col-md-8">
    <h2>Đăng Nhập</h2>
<form >
    <div class="div-form-group">
        <label for="exampleInputEmail">Tên</label>
        <input type="text" style="box-shadow:0px 0px 15px #D8D8D8;" class="form-control" ng-model="username" placeholder="Username"  required>
    </div>
    <div class="div-form-group">
        <label for="">Mật Khẩu</label>
        <input type="password" style="box-shadow:0px 0px 15px #D8D8D8;" class="form-control" ng-model="password" required>
    </div>
    <button style="margin-top: 10px;" type="submit" class="btn btn-success" ng-click="login()">Submit</button>
</form>
</div>